* {
    font-family: cursive;
    margin: 0;
}

:root {

    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
    --nav-width: 200px;
}

.main__layout {
    display: flex;
}

.nav {
    height: 100vh;
    width: var(--nav-width);
    background-color:var(--mainWhite);
    padding: 1.5rem 0.75rem;
    position: sticky;
    top: 0;
    right: 0;
    border-radius: 0 50px 0 0;
    background: linear-gradient(180deg, #324467, #283142);
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease-in;
}

.nav__items {
    flex-grow: 1;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

.nav__items::-webkit-scrollbar {
    display: none;
}

.nav__item {
    margin: 5px 0;
}

.nav__link {
    text-decoration: none;
    color: var(--mainWhite);
    display: block;
    padding: 12px 8px;
    transition: 0.2s ease-in;
    display: flex;
    align-items: center;
}

.font__icon{
    padding-right: 10px;
}

.nav__logo {
    text-align: center;
    color: var(--mainWhite);
    font-size: 50px;
    border-bottom: 1px solid #ffffff30;
}

.app-version {
    color: #efefef;
    padding-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

.nav__link:hover {
    background-color: #eef2f8bf;
    color: #2c4982;
    border-radius: 10px;
}

.nav__item-label {
    margin-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: hidden;
}

#app {
    padding: 3rem 0 0rem 2rem;
    flex-grow: 1;
}


/* mini-sidebar */

.mini-sidebar.nav {
    /* width: 70px; */
    overflow-x: hidden;
  }
  .mini-sidebar.nav .nav__link:hover {
    background-color: transparent;
    color: gold;
  }
  .nav.mini-sidebar .nav__logo {
    font-size: 1rem;
  }
  .nav.mini-sidebar .app-version__label {
    display: none;
  }
  
  .sidebar-toggler {
    transition: all 0.5s ease-in-out;
  }
  
  .nav.mini-sidebar .sidebar-toggler {
    transform: rotate(180deg);
    margin-right: 10px;
  }
  